$hopeblue: #1f2b8e;
$hopeyellow: #ffc92b;
$hopepink: #d90ac2;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #212121;
  background-color: rgba(255, 255, 255, 0.906);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
.common-input {
  color: #212121;
  height: 30px;
  padding: 10px;
  background-color: #ffffff;
  outline: none;
  border: 1px solid #212121;
  border-radius: 3px;
  margin: 10px 0px;
}

.common-input:focus {
  outline: 1px solid $hopeblue;
}

::placeholder {
  font-family: Oxygen;
  font-size: 16px;
  // margin-top: 15px;
  color: #212121;
}
